#container ::part(progress) {
  background: #ffffb3 !important;
  border-radius: 8px 0 0 8px !important;
}
.rhap_container {
  box-shadow: none;
  padding: 0;
}
.rhap_controls-section {
  display: none;
}

.audio-bar {
  width: 2px; /* 设置每个音频条的宽度 */
  background-color: #333; /* 设置音频条的颜色 */
  height: 2px;
}
