.time .ant-select-focused .ant-select-selector {
  box-shadow: 0px 0px 12px 0px #00fc6e !important;
  border: 2px solid #0d0d0d !important;
}
.time .ant-select-selector {
  border: 2px solid #0d0d0d !important;
  border-radius: 50px;
  color: #0d0d0d;
  font-family: "__Poppins_fcbe81", "__Poppins_Fallback_fcbe81";
  font-size: 16px;
  font-weight: 500;
}
.time .ant-select-selector:hover {
  border: none;
}
.time .ant-select-dropdown {
  border: 2px solid #0d0d0d !important;
  border-radius: 12px;
}
.time .ant-select-dropdown {
  padding: 10px;
}
.time .ant-select-item {
  border-radius: 8px;
}
.time .ant-select-item:hover {
  background: none !important;
}
.time .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f3f3f3 !important;
  color: #0d0d0d !important;
}
